body {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191970;
    margin-top: 5%;
}

button {
    margin: 5px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border-radius: 50%;
}

#calculator {
    width: 600px;
    border: solid 2px red;
    height: 700px;
    padding: 20px;
    background-color: #1C1C1C;
}

#display {
    border: solid 2px black;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    padding: 1%;
    margin-bottom: 3%; 
    background-color: #013220;
    color: #fffff0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.double-items {
    flex: 2.2 1 0;
}

.other-items {
    flex: 1 1 0;
}

.functions {
    background-color: #990000;
    color: white;
}

.numbers {
    background-color: #4B0082;
    color: white;
}
  